[Unit]
Description=My app

[Service]
ExecStart=/usr/local/bin/npm start
Restart=always
User=nobody
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/wulfy/dev/node/portugal_journey

[Install]
WantedBy=multi-user.target
